{% extends 'common/base.html' %}
{% block content %}

    <div class="container">
        {% if profile.get_full_name %}
            <p>{{ profile.first_name }} {{ profile.last_name }}</p>
        {% endif %}
        <div class="personal-records">
            <h2>Personal Records</h2>
            <table>
                <tr>
                    <th>Bench</th>
                    <th>Squat</th>
                    <th>Deadlift</th>
                </tr>
                <tr>
                    <td>{{ profile.bench }}</td>
                    <td>{{ profile.squat }}</td>
                    <td>{{ profile.deadlift }}</td>
                </tr>
            </table>
            <h2>Body Weight Ratio</h2>
            <table>
                <tr>
                    <th>Bench</th>
                    <th>Squat</th>
                    <th>Deadlift</th>
                </tr>
                <tr>
                    <td>{{ profile.body_strength_percentage.bench|floatformat:2 }} Times</td>
                    <td>{{ profile.body_strength_percentage.squat|floatformat:2 }} Times</td>
                    <td>{{ profile.body_strength_percentage.deadlift|floatformat:2 }} Times</td>
                </tr>
            </table>
            
        </div>
        {% if profile.pk == request.user.pk %}
            <a href="{% url "profile-update" %}">Edit</a>
            <a href="{% url "profile-delete" %}">Delete</a>
        {% endif %}
    </div>

{% endblock %}