<div class="card" style="width: 18rem;">
    <img src="{{ car_part.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ car_part }}</h5>
        {% if car.specs.description %}
            <p class="card-text">{{ car_part.description|truncatewords:5 }}</p>
        {% endif %}
        <p class="card-text">{{ car_part.price }} lv.</p>
    </div>
    <div class="card-body">
        <button><a href="{% url 'notify-car-part-owner' car_part_pk=car_part.pk user_pk=request.user.pk %}" class="card-link">Contact</a></button>
        <button><a href="{% url 'car-part-detail' pk=car_part.pk %}" class="card-link">Show Details</a></button>
    </div>
</div>