{% extends 'common/base.html' %}

{% block content %}
    <div class="container-fluid border-top-0">
        {% if car_parts %}
            <h1 class="text-center">Car Parts</h1>
            <div class="row row-cols-4 justify-content-center">
                {% for car_part in car_parts %}
                    <div class="d-flex justify-content-center text-center mb-3">
                        {% include 'car-parts/car-part-post.html' %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="d-flex flex-column text-center justify-content-center mb-3">
                <h4 class="h1">There are no car parts registered in the moment!</h4>
                <h4 class="h1">Want to help the site look the way is supposed to?</h4>
                <h4 class="h1"><a href='{% url 'car-part-create' %}' class="">Click here</a></h4>
            </div>
        {% endif %}
    </div>
{% endblock %}